body{
  margin:0 auto;
}

button{
  background-color: cornflowerblue;
  color:white;
  font-weight: bold;
  font-size:1.3em;
  padding: 5px 20px;
  border:none;
  margin-left:10%;
  margin-bottom: 5%;
  border-radius: 5px;;
}
h2{
 color:cornflowerblue;
 font-weight: bold;
 letter-spacing: 2px;
 text-align: left;
 padding-left:10%;
 padding-top:5%;
}
p{
  font-weight: 500;
  font-size:1em;
  letter-spacing: 1px;
  padding-left: 10%;
  padding-right: 10%;
}

.container{
  display:flex;
  flex-direction:row wrap;
  
}
.content{
  box-sizing: border-box;
  width:100%;
}
.image{
  box-sizing: border-box;
  background-image: url("./images/Three.jpeg");;
  width:100%;
  background-position:cover;
  background-repeat: round;
  background-size: contain;
}
.image1{
  background-image: url("./images/Two.jpeg");;
  width:100%;
  background-position: cover;
  background-repeat: round;
  background-size: contain;
}
.image2{
  background-image: url("./images/Three.jpeg");;
  width:100%;
  background-position: cover;
  background-repeat: round;
  background-size: contain;
}
@media only screen and (max-width:932px){
  .container{
    display:flex;
    flex-direction: column-reverse;
  }
  .content{
    background-color: aliceblue;
  }
  .image {
    display: list-item;
    padding: 22%;
  }
  .image1 {
    display: list-item;
    padding: 22%;
  }
  .image2 {
    width:40%;
    padding: 30%;
  }
}